*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
header{
    background-color: rgb(140, 0, 255);;
}
nav{
    background-color: rgb(140, 0, 255);;
    width: 100vw;
    height: 8vh;
}
.progress{
    background-color: rgb(236, 140, 60);
    top: 0px;
    position:fixed;
    height: 3px;
    animation: load 1s ease-in-out 1;
}
@keyframes load{
    0%{
        width: 0;
    }
    50%{
        width: 90vw;
    }
    100%{
        width: 100vw;
    }
}
nav{
    /* text-decoration: none; */
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
nav ul li{
    padding: 0 1vw;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s ease;
}
nav ul li a:hover{
    color:turquoise;
}
.NavBar{
    position: relative;
}
.photo1{
    height: 5vh;
    width: 3vw;
    background-size: contain;
    background-repeat: no-repeat ;
    border: none;
    outline: none;
    border-radius: 100px;
}
.photo1:hover{
     transform: translate(50vh,25vw) scale(5,7);
     transition: all ease-in-out 1.5s ;
    }
.search{
    position: absolute;
    right: 2vw;
    
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.background{
    height: 100vh;
    background-color: black;
    width: 100vw;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} 
main{
    width: 100%;
    height: 100vh;
}
.home{
    color: white;
    display: flex;
    height: 100vh;
} 
.home .horz{
   margin: auto 40px auto 40px;
}
.home .content .t1{
    font-size: 25px;
}
.home .content .t2{
    font-size: 70px;
    font-weight: 500;
}
.home .content .t2 span{
    color: purple;
}
.type{
    display: inline-flex;
}
.home .content .t3{
    font-size: 35px;
    margin: 3px 0;
}
/* .home .content .type span{
    font-size: 35px;
    font-weight: 500;
    margin-left: 10px;
}
.home .content .type ul li{
    list-style: none;
    margin: 3px 0;
    padding: 2px;
    overflow: hidden;
} */
.home .content .type span{
    position: absolute;
    width: 50vw;
    height: 7vh;
    color:aqua;
    overflow: hidden;
    white-space: nowrap;  
}
.home .content .type span::before{
    content: "";
    left: 10px;
    width: 100%;
    animation: typing 13.5s infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
@keyframes typing {
    0.6694%, 18.3488% { content: ""; }
    1.1395%, 17.2093% { content: "S"; }
    2.2791%, 16.0698% { content: "St"; }
    3.4186%, 14.9302% { content: "Stu"; }
    4.5581%, 13.7907% { content: "Stud"; }
    5.6977%, 12.6512% { content: "Stude"; }
    6.8372%, 11.5116% { content: "Studen"; }
    7.9767%, 10.3721% { content: "Student"; }
    
    28.9963%, 72.2326% { content: ""; }
    29.9963%, 71.2326% { content: "F"; }
    30.7098%, 69.0930% { content: "Fr"; }
    31.7674%, 68.2791% { content: "Fro"; }
    32.9070%, 67.1395% { content: "Fron"; }
    34.0465%, 66.0000% { content: "Front"; }
    35.1860%, 64.8605% { content: "Fronte"; }
    36.3256%, 63.7209% { content: "Fronten"; }
    37.4651%, 62.5814% { content: "Frontend"; }
    38.6047%, 61.4419% { content: "Frontend "; }
    39.6977%, 60.2093% { content: "Frontend D"; }
    40.8372%, 59.0698% { content: "Frontend De"; }
    41.9767%, 57.9302% { content: "Frontend Dev"; }
    43.1163%, 56.7907% { content: "Frontend Deve"; }
    44.2558%, 55.6512% { content: "Frontend Devel"; }
    45.3953%, 54.5116% { content: "Frontend Develo"; }
    46.5349%, 53.3721% { content: "Frontend Develop"; }
    47.6279%, 51.8605% { content: "Frontend Develope"; }
    48.7674%, 50.7209% { content: "Frontend Developer"; }
    
    80.9070%, 99.5814% { content: ""; }
    82.0465%, 98.4419% { content: "L"; }
    83.1860%, 97.3023% { content: "Le"; }
    84.3256%, 96.2289% { content: "Lea"; }
    85.5722%, 95.1628% { content: "Lear"; }
    86.7563%, 94.2589% { content: "Learn"; }
    87.9023%, 93.2067% { content: "Learne"; }
    89.0056%, 92.1628% { content: "Learner"; }
}
.home .content .type span::after{
    content: "";
    width: 25vw;
    height:6vh;
    border-right: 0.125em solid black;
    animation: /*cursor 4s linear infinite,*/ blink 500ms linear infinite;
}
@keyframes cursor{
    0%,10%,90%,100%{
        width: 0;
    }
    40%,60%{
        width: 19%;
    }
}
@media(prefers-reduced-motion) {
    .home .content .type span::after {
        animation: none;
    }
    @keyframes sequence {
        0%, 100% { content: "Student"; }
        33.33% { content: "Frontend Developer"; }
        66.67% { content: "Learner"; }
      }
.home .content .type span::before{
    content:"";
    animation: sequence 12s linear infinite;
}
}
@keyframes blink{
    to{
        border-color:transparent;
    }
}
footer{
    background-color: black;
    color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vw;
}
